{% extends "layout.html" %}
{% block body %}
<table class="students" border="1">
    <thead>
    <tr>
        <th>学号</th>
        <th>姓名</th>
        <th>性别</th>
        <th>电话</th>
        <th>Email</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for student in students %}
    <tr>
        <td>{{ student['id'] }}</td>
        <td>{{ student['name'] }}</td>
        <td>{{ student['gender'] }}</td>
        <td>{{ student['phonenum'] }}</td>
        <td>{{ student['emailaddr'] }}</td>
        <td><a href="{{ url_for('delete_student', student_id=student['id']) }}">删除</a></td>
    </tr>
    {% endfor %}
    <tr>
        <form method="POST" action="{{ url_for('add_student') }}">
            <td><input type="text" name="id" /></td>
            <td><input type="text" name="name" /></td>
            <td><input type="text" name="gender" /></td>
            <td><input type="text" name="phonenum" /></td>
            <td><input type="text" name="emailaddr" /></td>
            <td><input type="submit" value="添加" /></td>
        </form>
    </tr>
    </tbody>
</table>
{% endblock %}