{% extends "layout.html" %}
{% block content %}
<div class="col-xs-12 col-md-10 col-md-offset-1">
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>学号</th>
                    <th>姓名</th>
                    <th>性别</th>
                    <th>电话</th>
                    <th>Email</th>
                    <th>操作</th>
                </tr>
            </thead>
            
            <tbody>
                {% for student in students %}
                <tr>
                    <td>{{ student['id'] }}</td>
                    <td>{{ student['name'] }}</td>
                    <td>{{ student['gender'] }}</td>
                    <td>{{ student['phonenum'] }}</td>
                    <td>{{ student['emailaddr'] }}</td>
                    <td><a href="{{ url_for('delete_student', student_id=student['id']) }}" class="btn btn-danger btn-sm">删除</a></td>
                </tr>
                {% endfor %}
                
                <tr>
                    <form method="POST" action="{{ url_for('add_student') }}">
                        <td><input type="text" name="id" class="form-control" /></td>
                        <td><input type="text" name="name" class="form-control" /></td>
                        <td>
                            <label class="radio-inline"><input type="radio" name="gender" value="男" />男</label>
                            <label class="radio-inline"><input type="radio" name="gender" value="女" />女</label>
                        </td>
                        <td><input type="text" name="phonenum" class="form-control" /></td>
                        <td><input type="text" name="emailaddr" class="form-control" /></td>
                        <td><input type="submit" value="添加" class="btn btn-primary btn-sm" /></td>
                    </form>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}