<!doctype html>
<html>
<head lang="zh-CN">
    <meta charset="utf-8" />
    <title>学生信息管理系统</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/3.3.5/css/bootstrap.min.css') }}">
    <script src="{{ url_for('static', filename='jquery/2.2.3/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/3.3.5/js/bootstrap.min.js') }}"></script>
    <style>
        body {padding-top: 70px;}
    </style>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">学生信息管理</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ url_for('logout') }}">退出</a></li>
            </ul>
        </div>
    </nav>
    <div class="visible-xs-block" style="height:70px"></div>
    {% for message in get_flashed_messages() %}
    <div class="container-fluid">
        <div class="alert alert-success message">
            <span class="glyphicon glyphicon-ok"></span>
            {{ message }}
            <button type="button" class="close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
    {% endfor %}
    <div class="container-fluid">
        <div class="row"><div class="col-xs-12 col-md-10 col-md-offset-1">
        {% block body%}{% endblock %}
        </div></div>
    </div>
</body>
<script>
    $('.message .close').click(function (e) {
       e.target.parentElement.remove(); 
    });
</script>
</html>