{% extends "bootstrap_base.html" %}

{% block title %}学生信息管理系统{% endblock %}

{% block style %}
{{ super() }}
<style>
    body {
        padding-top: 70px;
    }
            
    .navbar-brand {
        margin-left: 24px;
    }
    
    td {
        vertical-align: middle !important;
    }
</style>
{% endblock %}

{% block body %}
{{ super() }}
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <div class="visible-xs-block">
                <a class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
            </div>
            <a class="navbar-brand" href="#">学生信息管理</a>
        </div>
        
        <div class="visible-xs-block">
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="" data-toggle="modal" data-target="#ch-passwd">修改密码</a></li>
                    <li><a href="{{ url_for('logout') }}">退出</a></li>
                </ul>
            </div>
        </div>
        
        <div class="hidden-xs">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-menu-hamburger"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="" data-toggle="modal" data-target="#ch-passwd">修改密码</a></li>
                        <li><a href="{{ url_for('logout') }}">退出</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

{% for message in get_flashed_messages(category_filter=['success']) %}
<div class="container">
    <div class="alert alert-block alert-success alert-dismissible fade in" role="alert">
        <span class="glyphicon glyphicon-ok"></span>
        {{ message }}
        <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>
{% endfor %}

{% for message in get_flashed_messages(category_filter=['error']) %}
<div class="container">
    <div class="alert alert-block alert-danger alert-dismissible fade in" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign"></span>
        {{ message }}
        <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>
{% endfor %}

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-md-10 col-md-offset-1">
            {% block content%}{% endblock %}
        </div>
    </div>
</div>

<!-- 修改密码的对话框 -->
<div class="modal fade" id="ch-passwd" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">修改密码</h4>
            </div>
            <form id="ch-password-form" action="{{ url_for('modify_password') }}" method="POST">
                <div class="modal-body">
                    <div class="form-group" id="old-password-form">
                        <label for="old-password" class="col-xs-3 col-md-3 control-label">原密码：</label>
                        <div class="col-xs-9 col-md-9">
                            <input type="password" id="old-password" class="form-control" />
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="form-group" id="new-password-form">
                        <label for="new-password" class="col-xs-3 col-md-3 control-label">新密码：</label>
                        <div class="col-xs-9 col-md-9">
                            <input type="password" id="new-password" class="form-control" />
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="form-group" id="repeat-password-form">
                        <label for="repeat-password" class="col-xs-3 col-md-3 control-label">重复密码：</label>
                        <div class="col-xs-9 col-md-9">
                            <input type="password" id="repeat-password" class="form-control" />
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <p class="hidden text-danger" id="ch-passwd-error-message"></p>
                </div>
                <div class="modal-footer">
                    <input type="hidden" id="md5-old-password" name="old-password" />
                    <input type="hidden" id="md5-new-password" name="new-password" />
                    <input type="reset" value="清除" class="btn btn-default" />
                    <input type="submit" value="提交" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}
{{ super() }}
<script src="{{ url_for('static', filename='checkform.js') }}"></script>
{% endblock %}

