<!doctype html>
<html>
<head lang="zh-CN">
    <meta charset="utf-8" />
    <title>登录</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/3.3.5/css/bootstrap.min.css') }}">
    <script src="{{ url_for('static', filename='jquery/2.2.3/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/3.3.5/js/bootstrap.min.js') }}"></script>
    <style></style>
</head>
<body>
    <div class="page">
        <h2>请登录</h2>
        {% if error %}<div class="error">{{ error }}</div>{% endif %}
        <div class="login-box">
            <form id="login-form" action="{{ url_for('login') }}" method="POST">
                用户名：<input type="text" name="username" /><br />
                密码：<input type="password" id="input-password" /><br />
                <input type="hidden" id="md5-password" name="password" />
                <input type="submit" value="登录" />
            </form>
        </div>
    </div>
    <script src="{{ url_for('static', filename='checkform.js') }}"></script>
</body>
</html>