{% extends "bootstrap_base.html" %}

{% block title %}登录{% endblock %}

{% block style %}
{{ super() }}
<style>
    .panel {
        margin-top: 100px;
        box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
    }
    
    .panel-body {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    
    .alert-block {
        margin-left: 1em;
        margin-right: 1em;
    }
</style>
{% endblock %}

{% block body %}
{{ super() }}
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-md-4 col-md-offset-4">
            <div class="panel panel-default panel-single">
                <div class="panel-heading text-center">
                    <h2>请登录</h2>
                </div>

                <div class="panel-body">
                    
                    {% if error %}
                    <div class="alert alert-block alert-danger">
                        <span class="glyphicon glyphicon-exclamation-sign"></span>
                        {{ error }}
                    </div>
                    {% endif %}
                    
                    <form id="login-form" action="{{ url_for('login') }}" method="POST">
                        <div class="form-group">
                            <label for="username" class="col-xs-3 col-md-3 control-label">用户名：</label>
                            <div class="col-xs-9 col-md-9">
                                <input type="text" id="username" name="username" class="form-control" />
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="form-group">
                            <label for="input-password" class="col-xs-3 col-md-3 control-label">密码：</label>
                            <div class="col-xs-9 col-md-9">
                                <input type="password" id="input-password" class="form-control" />
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="text-center">
                            <input type="hidden" id="md5-password" name="password" />
                            <input type="submit" value="登录" class="btn btn-primary" />
                            <input type="reset" value="清除" class="btn btn-default" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
{{ super() }}
<script src="{{ url_for('static', filename='checkform.js') }}"></script>
{% endblock %}